In [1]:
import pandas as pd
# one dimension array data  
data = pd.Series([1,2,'3' ])  # it in the system memory

data

0    1
1    2
2    3
dtype: object

In [2]:
data1 = pd.DataFrame({"student": [1,2,3], "Name": ["ram", "sam", "anil"]})
data1

   student  Name
0        1   ram
1        2   sam
2        3  anil

In [13]:
data1.iloc[2]

student       3
Name       anil
Name: 2, dtype: object

In [8]:
data1[data1['student'] == 1]

   student Name
0        1  ram

In [9]:
data1[data1.student == 1]

   student Name
0        1  ram

In [10]:
data1.shape

(3, 2)

In [12]:
data1.dtypes

student     int64
Name       object
dtype: object

In [ ]:
data1.